<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>quicktwiml<% if (twiml.title) { %>: <%= twiml.title %><% } %></title>
    <meta name="description" content="Quickly save, share, and call TwiML scripts from your browser.">
    <meta name="author" content="Mark Andrus Roberts">
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <% if (embed) { %>
    <link href="/css/embed.css" rel="stylesheet">
    <% } %>
  </head>
  <body>
